{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">
  

  <!-- Looping through news   -->
  <!-- <div style="display: flex;"> -->
    

  <div class="row">
    {% for image in images %}
    <!-- displaying images -->
   
    
    
    
  
    
    
      
        <div class="col-sm-10" style="display:inline-block;padding: 10px; width: 25%;height: auto;">
          
          <button type="button" class="" data-toggle="modal" data-target="#pic{{image.id}}">
          
            <img src="{{image.image.url}}" class="img-responsive"  alt="Image">          
              
            
        
          
        
        </button>
      </div>
      </div>
        
        
    
    
    <!-- The modal -->
    <div class="modal fade" id="pic{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabelLarge">{{image.image_name}} detailed information</h4>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="">
          <img src="{{image.image.url}}" class="img-responsive" style="width: 100%;height: auto;" alt="Image">
        </div>
      </div>
     <div >
      <h3><strong>Name: </strong> {{image.image_name}}</h3> 
      <h3> <strong> Description:</strong> {{image.image_description}}</h3>
      <h3><strong>Location: </strong>{{image.image_location}}</h3>
      <h3><strong>Category: </strong>{{image.image_category}}</h3>
      <label for="myInput"> <h3><strong> image link: </strong></label>
      <input type="text" value="https://elikigallery.herokuapp.com/{{image.image.url}}" id="myInput">
     <button onclick="myFunction()" style="color: blue;">Copy </button>
     </div>
  
      </div>
      
    
    </div>
    </div>
    </div>
    
    </div>
    
    
    <script>
    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
      
      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }
    </script>
    
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Initialize Bootstrap functionality -->
    <script>
    // Initialize tooltip component
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    
    // Initialize popover component
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
  

   {% empty %}
   <div class="row">
    <h2 class="text-center">There No Images</h2>
   </div>
   {% endfor %}
  </div>
  

</div>

    

{% endblock %}