{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for image in images %}

  <div class="row">
    <!-- displaying images -->
   
    <!DOCTYPE html>
    <title>Image Details</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <div class="container-fluid">
        <div style="width: 90vw;
        margin: 0 auto;
        max-width: 1170px;
        display: flex;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#pic{{image.id}}">
            <div class="card" style="width: 25rem;">
              <img src="{{image.image.url}}" class="img-responsive" alt="Image">
              <div class="card-body">
                <!-- <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
            
            <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="width: 100%;height: auto;">
              <img src="{{image.image.url}}" class="img-responsive" alt="Image">
            </div> -->
          </button>
        </div>
    
    
    <!-- The modal -->
    <div class="modal fade" id="pic{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="modalLabelLarge">{{image.image_name}} detailed information</h4>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="">
          <img src="{{image.image.url}}" class="img-responsive" style="width: 100%;height: auto;" alt="Image">
        </div>
      </div>
     <div >
      <h3><strong>Name: </strong> {{image.image_name}}</h3> 
      <h3> <strong> Description:</strong> {{image.image_description}}</h3>
      <h3><strong>Location: </strong>{{image.image_location}}</h3>
      <h3><strong>Category: </strong>{{image.image_category}}</h3>
      <input type="text" value="{{image.image.url}}" id="myInput">
    <button onclick="myFunction()">Copy link</button>
     </div>
  
      </div>
      
    
    </div>
    </div>
    </div>
    
    </div>
    
    
    <script>
    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
    
      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
      
      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
    }
    </script>
    
    <!-- jQuery library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    <!-- Initialize Bootstrap functionality -->
    <script>
    // Initialize tooltip component
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    
    // Initialize popover component
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
  

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Images</h2>
  </div>
  {% endfor %}

</div>
<div class="row">
    <!-- displaying News articles
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ image.image_name }} </h2>

    <h4>{{image.image}}</h4>
    <h4>{{image.image_description}}</h4>

    </div>
    Display news Article images 
    <a href="/display/{{image.id}}"> <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image.image.url}}" class="img-responsive" alt="Image">
    </div></a> -->

{% endblock %}