{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if image_id%}
      <h2>Found searched image with id {{message}}</h2>
    {% else %}
      <h2> Image with id {{message}} is not available</h2>
    {% endif %}

  </div>

  

  {% if image_id %}
  <div class="row">
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image_id.image.url}}" class="img-responsive" alt="Image">
    </div>
    <h3><strong>Name: </strong> {{image_id.image_name}}</h3> 
    <h3> <strong> Description:</strong> {{image_id.image_description}}</h3>
    <h3><strong>Location: </strong>{{image_id.image_location}}</h3>
    <h3><strong>Category: </strong>{{image_id.image_category}}</h3>
    

    
  {% endif %}
  </div>
</div>
{% endblock %}